body{
    background-color: rgb(38, 87, 60);
    color: rgb(212, 214, 213);
    font: normal 20pt arial;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    text-shadow: 2px 2px 5px rgb(10, 10, 10);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
}

#novatarefa{
    justify-content: center;
    
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(42, 63, 50);
    color:whitesmoke;
    text-align: center;
    margin-top: 10%;
    opacity: 20% ;
    
}

#titulos{
    padding-top: 30px;
    color:whitesmoke;
    
}

.coluna{
    background-color: rgb(214, 236, 214);
    border-style: solid;
    opacity: 20% ;
    margin: 0px 5px 0px 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#tarefas{
    height: 600px;
    
}
#pendentes,#fazendo,#feitas{
    box-shadow: 10px 5px 5px black;

}
