body{
    background-color:;
}

.footer {
    
    
    width: 100%;
    background-color: rgb(42, 63, 50);
    color:whitesmoke;
    text-align: center;
    opacity: 10% ;
    
    
}
p{
    text-align: justify;
}

.tamanho-img{
    width: 100px;
    height: 100px;
}
#gif{
    width: 70px;
    height: 50px ;
}

#projeto{
    text-align: justify;
    border-style: solid;
    border color: ;
}

h2{
    text-align: center;
}
